#msg-div {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 400px;
    margin-left: -200px;
    z-index: 20000;
}

#msg-div .msgErr {
    text-align: center;
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #D9534F;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}

#msg-div .msg {
    text-align: center;
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #009900;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}